/* App.css */

/* Style du conteneur principal */
.App {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh; /* 100% de la hauteur de la vue */
  background-image: url('/src/images/fond.jpg'); /* Ajoutez le chemin de votre image de fond */
  background-size: cover; /* Ajustez la taille de l'image pour couvrir tout le conteneur */
  background-repeat: no-repeat; /* Empêchez la répétition de l'image */
}

/* Style pour le contenu centré */
.center-content {
  display: flex;
  flex-direction: column; /* Alignez les éléments en colonne */
  text-align: center; /* Alignez le texte au centre */
  background-color: rgba(255, 255, 255, 0.8); /* Ajoutez un fond semi-transparent pour le contenu centré */
  padding: 20px; /* Ajoutez une marge intérieure pour le contenu centré */
}

/* Style pour les barres blanches */
.white-bar {
  background-color: #e0e0ff; /* Couleur de fond bleu clair pour les barres blanches */
  color: blue; /* Couleur du texte en bleu */
}
